<!DOCTYPE html>
<html>
    <head>
        @model List<GameModel>
        @{
            ViewData["Title"] = "Listagem de Jogos";
        }
    </head>
    <body>
        <div class="text-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-1">
                <a class="btn btn-primary" role="button" asp-controller="Game" asp-action="Create">Adicionar novo jogo</a>
            </div>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }

            <br />
            <h1 class="display-4">Listagem de Jogos</h1>

            <table class="table" id="game-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        @foreach (GameModel game in Model)
                        {
                            <tr>
                                <th scope="row">@game.Id</th>
                                <td>@game.Name</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a role="button" class="btn btn-primary" asp-route-id="@game.Id" asp-controller="Game" asp-action="Update">Editar</a>
                                        <a role="button" class="btn btn-danger" asp-route-id="@game.Id" asp-controller="Game" asp-action="DeleteConfirmation">Excluir</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="odd">
                            <th></th>
                            <td>Nenhum jogo cadastrado</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </body>
</html>